<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LalaDex - Main Menu</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="pokedex-container">
    <div class="header">
        <h1>The LalaDex</h1>
    </div>

    <div class="menu">
        <a href="/pokedex/display"><button>Display Pokémon</button></a>
        <a href="/pokedex/add"><button>Add Pokémon</button></a>
        <a href="/pokedex/delete"><button>Delete Pokémon</button></a>
        <a href="/pokedex/update"><button>Update Pokémon</button></a>
        <a href="/pokedex/upload"><button>PokeSync</button></a>
        <a href="/pokedex/custom"><button>Who's That Pokémon?</button></a>
    </div>
</div>
</body>
</html>
